@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --myellow: #F7DBA7;
  --myellow-80: #EEC77E;
  --myellow-60: #F1D092;
  --myellow-40: #FCEED5;
  --linear: #fceed5;
  --dblue: #003459;
  --dblue-80: #002A48;
  --dblue-60: #00528C;
  --dblue-40: #0078CD;
  --marquee-duration: 28352ms;
  --fade-in: 1s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --myellow: #F7DBA7;
    --myellow-80: #EEC77E;
    --myellow-60: #F1D092;
    --myellow-40: #FCEED5;
    --linear: #fceed5;
    --dblue: #003459;
    --dblue-80: #002A48;
    --dblue-60: #00528C;
    --dblue-40: #0078CD;
    --marquee-duration: 28352ms;
    --fade-in: 1s;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}