@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --yellow: #f7dba7;
  --linear: #fceed5;
  --blue: #003459;
  --dblue: #002A48;
  --marquee-duration : 28352ms;
  --fade-in: 0.5s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --yellow: #f7dba7;
    --linear: #fceed5;
    --blue: #003459;
  --dblue: #002A48;
    --marquee-duration : 28352ms;
  --fade-in: 0.5s;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
